<h2>Skift adgangskode</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Ny adgangskode" %><br />
    <% if @minimum_password_length %>
      <em>(Minimum <%= @minimum_password_length %> karakterer)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Bekræft adgangskode" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Skift adgangskode", class: 'btn btn-secondary', class: 'btn btn-secondary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
